<footer class="page-footer font-small purple pt-4 fixed-bottom bg-withe shadow-lg">
    <div class="container d-flex flex-wrap align-items-center justify-content-end">
      <h2 class="text-dark">Copyright Zer0cheros 2022</h2>
    </div>
</footer>