<div class="container-fluid d-flex justify-content-between mt-auto p-3 align-items-center bg-dark shadow-lg">
      <h2 class="text-white">Copyright Zer0cheros 2022</h2>
      <div class="text-white mx-3">
        <i class="fa-brands fa-github fa-3x px-1"></i>
        <i class="fa-brands fa-facebook fa-3x px-1"></i>
        <i class="fa-brands fa-instagram fa-3x px-1"></i>
     </div>
    </div>