<div class="container-fluid bg-black px-4">
    <div class='row gap-4'>
    <div class="col-md-6 bg-white col-sm-6 d-flex flex-column align-items-center">
         <h1 class="display-5">Check out our sales</h1>
         <h1 class="display-3 text-danger">-30%</h1>
         <img src="/img/pic.jpg" style="max-height: 80%;" class="img-fluid" alt="">
    </div>
    <div class="col md-12">
      <div class='row gap-4'>
        <div class="col-md-12 bg-white col-sm-12 text-center">
            <img src="/img/gtx.jpg" class="img-fluid" alt="">
            <h1 class="display-6">Trade your old card,<span class="text-primary"> and get refund</span> <span class="text-success">$$$</span></h1>
        </div>
        <div class="col-md-12 bg-white col-sm-12 text-center">
            <img src="/img/i9.jpg" class="img-fluid" alt="">
            <h1 class="display-6">Save time and <span class="text-danger">money</span><span class="text-success">!</span></h1>
        </div>
      </div>
    </div>
  </div>
</div>
