<div class="container-xl">
    <div class="row">
        <div class="col">
            <h2>Shop</h2>
        </div>
        <div class="col text-center">
            <h2>Profile</h2>
            <h3 class="py-1">Email: <%= info.email %></h3>
            <h3 class="py-1">User-ID: <%= info.uid %></h3>
            <h3 class="py-1">Name: <%= info.name %></h3>
            <form id="profilePic" action="">
                <div class="form-control px-5 d-flex flex-column align-items-center">
                    <label class="form-label" for="uploadFile">Upload Profile picture</label>
                    <input class="form-control" type="file" id="uploadFile">
                    <button id="uploadBtn" class="btn btn-primary my-3">Upload</button>
                </div>
            </form>
            <form action="/profile/save" method="post">
                <div class="form-control px-5 d-flex flex-column align-items-center">
                    <label class="form-label" for="info">Write something</label>
                    <textarea class="form-control" name="info" id="info" cols="30" rows="10"></textarea>
                    <button class="btn btn-success my-3">Save Something</button>
                </div>
            </form>
            <% if(typeof userInfo !== 'undefined'){ %>
                <%= userInfo.info %> 
            <% } %>     
        </div>    
    </div>
</div>

