<div style="max-width: 650px; width: 90%;" class="px-4 container mt-5 rounded d-flex flex-column justify-content-center shadow" >
    <h1 class="display-3 py-2">Register</h1>
    <form action="/register" method="post" class="form py-3">
    <div class="form-group py-3">
        <label for="name" class="label">Full name</label>
        <input type="text" name="name" class="form-control input">
    </div>
    <div class="form-group py-3">
        <label for="email" class="label">Email</label>
        <input type="email" name="email" class="form-control input">
    </div>
    <div class="form-group py-3">
        <label for="password" class="label">Password</label>
        <input type="password" name="password" class="form-control input">
    </div>
    <div class="form-group py-3">
        <button class="btn btn-success">Sign Up</button>
        <button class="btn btn-primary">Sign in with Google</button>
    </div>
    </form>
</div>
